@model People
@{
    ViewData["Title"] = "Home Page";
}
<a>@Model.Id </a>
<p>@Model.Name</p>
<label>@Model.Address</label>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
